<footer class="footer py-4"
  style="position:relative; top:1050px; width:100%; height:auto; margin-top:50px; border-top: 1px solid #969696">

  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4 text-lg-start">
        <div><span style="font-weight: 700; margin-right: 10px;">사업자 등록</span><span style="font-size:16px;">123-45-67890</span></div>
        <div style="display:flex">
          <div style="margin-right: 5px;"><span style="font-weight: 700; margin-right: 10px;">전화</span><span style="margin-right: 10px; font-size:16px;">010-1234-5678</span></div>
          <div><span style="font-weight: 700; margin-right: 10px;">FAX</span><span style="font-size:16px;">02-1234-5678</span></div>
        </div>
      </div>
      <div class="col-lg-4 text-lg-center">
        <a class="link-dark text-decoration-none me-3" href="#!" style="color:#999898;">개인정보취급정책</a>
        <a class="link-dark text-decoration-none me-3" href="#!" style="color:#999898;">이용약관</a>
        <a class="link-dark text-decoration-none me-3" href="#!" style="color:#999898;">홈페이지 이용약관</a>
      </div>
      <div class="col-lg-4 text-lg-end">
        <em>Copyright &copy;</em> <a class="link-dark text-decoration-none" href="https://www.futuresense.dev/" style="font-weight: bold;color:black;">퓨쳐센스 2021</a> 
      </div>
    </div>
  </div>
</footer>

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

</body>

</html>