<!-- navbar -->
<nav class="navbar navbar-expand-md navbar-dark bg-primary mb-3">
  <div class="container">
    <!-- logo -->
    <a href="/" class="navbar-brand">국산김치 자율표시 시스템</a>
    <!-- toggle button for mobile nav -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- navbar links -->
    <div
      class="collapse navbar-collapse justify-content-end align-center"
      id="navbarNav"
    >
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/restaurant">식당</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/manufacturer">제조업체</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin">관리자</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
