<%- include("_header") -%>

<h3 class="text-center py-3">등록 확인</h3>

<div class="container">
  <form action="/create/confirm" method="post">
    <div class="form-horizontal">

      <%- include("_display") -%>

      <div class="form-group row">
        <label class="col-form-label col-sm-2"></label>
        <div class="col-sm-10">
          <input type="submit" value="확인" class="btn btn-default btn-primary">
          <a href="/restaurant" class="btn btn-outline-dark cancel">취소</a>
        </div>
      </div>
    </div>
  </form>
</div>

<%- include("_footer") -%>
