<%- include("./partials/header") -%>

<h3 class="text-center py-3">삭제</h3>

<div class="container">
  <form action="/restaurant/<%= model.id %>/delete" method="post">
    <div class="form-horizontal">

      <%- include("./partials/display") -%>

      <div class="form-group row">
        <label class="col-form-label col-sm-2"></label>
        <div class="col-sm-10">
          <input type="submit" value="삭제" class="btn btn-default btn-danger">
          <a href="/admin" class="btn btn-outline-dark cancel">취소</a>
        </div>
      </div>
    </div>
  </form>
</div>

<%- include("./partials/footer") -%>
