<%- include("./partials/header") %>

<%- include("./partials/navbar") %>

<header
  class="masthead"
  style="
    background-image: url('/assets/img/kimchi-bg.jpeg');
    height: 300px;
    background-repeat: no-repeat;
  "
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <!-- <h1>차세대 국산김치 자율표시 시스템</h1> -->
        </div>
      </div>
    </div>
  </div>
</header>

<!-- <%- include('./partials/carousel') %> -->

<div class="row py-3">
  <div class="col-sm-6">
    <div class="card">
      <img src="/assets/img/kimchi.jpeg" alt="Card image cap" class="card-img-top" />
      <div class="card-body">
        <h5 class="card-title">음식점 등록</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="/restaurant" class="btn btn-primary">식당 등록</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <img src="/assets/img/manufacturing-kimchi.jpeg" alt="Card image cap" class="card-img-top" />
      <div class="card-body">
        <h5 class="class-title">제조업체 등록</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="/manufacturer" class="btn btn-primary">제조사 등록</a>
      </div>
    </div>
  </div>
</div>

<%- include("./partials/footer") -%>
