<%- include("./partials/header") %>

<%- include('./partials/navbar') %>

<div class="container justify-center">
  <img src=<%= qrImg %> alt="QR Code Image"><br>
  <a href="/"><button type="button" class="btn btn-primary">이전</button></a>
</div>

<%- include("./partials/footer") %>
