<%- include("./partials/header") -%>
  <div class="container" style="text-align: center;">
    <div class="form-horizontal">
        <div style="text-align: center; display: inline-block; margin:40px 0;">
          <img id="food-img" alt="test" src="" style="width:100%; max-width:455px;">
        </div>
        
        <%- include("./partials/editor-qrcode") -%>
      
     </div>
  </div>
<%- include("./partials/footer") -%>

<script>
  var type = `<%=model.cuisine%>`;
  // document.getElementById('food-img').src = "/assets/img/gopher.png";

  if(type==="한식"){
    document.getElementById('food-img').src = "/assets/img/korea.jpg";
  }else if(type==="일식"){
    document.getElementById('food-img').src = "/assets/img/japan.jpg";
  }else if(type==="중식"){
    document.getElementById('food-img').src = "/assets/img/chinese.png"
  }
</script>
